<%= form_with model: @animal do |f| %>
   <div>
     <%= f.label "動物名" %>
     <%= f.text_field :name %>
   </div>
   <div>
    <%= f.label "品種" %>
    <%= f.text_field :species %>
   </div>
   <div>
    <%= f.label "病例號" %>
    <%= f.text_field :number %>
   </div>
   <button class="px-3 py-2 bg-red-300 rounded hover:bg-red-400">
    新增動物
  </button>
   <% end %>
</div>