<h1>基礎值紀錄</<h1>
<div > 動物名
<%= @animal.name %>
</div>
<div> 病例號
<%= @animal.number %>
</div>

<div>
<%= form_with(model: @basal_value, url: animal_basal_values_path(@animal.id),local: false)do |f| %>
    <div>
      <%= f.label "心跳" %>
      <%= f.text_field :HR %>
    </div>
    <div>
     <%= f.label "呼吸" %>
     <%= f.text_field :RR %>
    </div>
    <div>
     <%= f.label "血壓" %>
     <%= f.text_field :BP %>
    </div>
    <div>
    <%= f.label "體溫" %>
    <%= f.text_field :BT %>
   </div>
   <div>
    <%= f.label "時間" %>
    <%= f.time_field :time %>
  </div>
  <div>
   <%= f.label "備註" %>
   <%= f.text_area :description %>
  </div>
     <%=f.submit %>
 <% end %>
</div>

<div> 
 <%= link_to "血壓",bloodpressure_basal_value_path %>
</div>


<div> 
 <% @basal_values.each do |basal_value| %>
  <%= turbo_frame_tag dom_id(basal_value) do%>
  <div>
    <li> 心跳
     <%= basal_value.HR %>
    </li>
    <li> 呼吸
     <%= basal_value.RR %>
    </li>
    <li> 血壓
     <%= basal_value.BP %>
    </li>
    <li> 體溫
     <%= basal_value.BT %>
    </li>
    <li> 時間
     <%= basal_value.time %>
    </li>
    <li> 備註
     <%= basal_value.description %>
    </li>
    <%= link_to "編輯", edit_basal_value_path(basal_value) %>
    <%= link_to "刪除", basal_value_path(basal_value),data: {turbo_confirm: "確定刪除？", turbo_method: "delete"} %>
   </div>
  <% end %>
 <% end %>
</div>